<% layout('/layouts/boilerplates') -%>
<h1>Index Posts</h1>
<div id="map"></div>

<% include ../partials/pagination%>

<% posts.docs.forEach(function(post){%>
    <div>
        <h1><%= post.title%></h1>
        <div>Price: <%= post.price%></div>
        <div>Description: <%= post.description%></div>
        <div>Location: <%= post.location%></div>
        <div><a href="/posts/<%= post.id%>">View More</a></div>
    </div>
<%});%>


<% include ../partials/pagination%>
<script>
    mapboxgl.accessToken = "<%= mapBoxToken%>";
    const posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>